@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e9e9e9;
    font-family: "Poppins", sans-serif;

}

.chat_flow {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_chat_container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
}

#iconChat {
    display: block;
    width: 100%;
    height: 100%;
    transform: scaleX(-1);
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border: 2px solid #27f;
    cursor: pointer;
}

@keyframes latido {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }
}

.latido {
    animation: latido 1.5s infinite ease-in-out;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

#numero {
    position: absolute;
    top: -8px;
    right: -8px;
    background: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
}

/* #numero {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #ff4d4d;
    color: white;
    font-size: 12px;
    font-weight: bold;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
} */

.chat_container {
    max-width: 400px;
    width: 100%;
    height: 80vh;
    background-color: #fcfcfc;
    display: flex;
    position: fixed;
    right: 20px;
    top: 40px;
    flex-direction: column;
    box-shadow: 0 0 5px black;
    border-radius: 10px;
}

.chat_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #333;
}

.logo {
    width: 100px;
}

.icons {
    display: flex;
    gap: 15px;
}

.fa-circle-xmark,
.fa-rotate-right {
    cursor: pointer;
    user-select: none;
    font-size: 21px;
}

.chat {
    height: 100%;
    padding: 20px;
    overflow-y: auto;
    font-weight: 300;
    font-size: 14px;
    /* scrollbar-width: none; */
}

.chat::-webkit-scrollbar {
    display: none;
}

.chat>* {
    margin: 15px 0;
}

.bot_container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.bot_container img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    aspect-ratio: 1 /1;
    object-fit: cover;
}

.bot {
    box-shadow: 0 0 2px black;
    border-radius: 10px 10px 10px 0;
    background-color: #e9e9e9;
    padding: 10px;
}

.user_container {
    display: flex;
    flex-direction: row-reverse;
}

.user {
    box-shadow: 0 0 2px black;
    border-radius: 10px 10px 0 10px;
    padding: 10px;
    background-color: #27f;

}

.chat_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-top: 1px solid #333;
}